/** Stuff that affects the entire page */
body {
  background-image:url('/images/l2adena-site-bkg.png');
  background-repeat:no-repeat;
  background-size:100% auto;
  -moz-background-size: 100% auto;           /* Gecko 1.9.2 (Firefox 3.6) */
  -ms-background-size: 100% auto;
  -o-background-size: 100% auto;           /* Opera 9.5 */
  -webkit-background-size: 100% auto;           /* Safari 3.0 */
}

a {
  color:#11376F;
}

a:hover {
  color:#A8490C;
}

/** HEADERS **/
div#logo {
  position: relative;
  background-color:#fff;
  margin:0;
  box-shadow: 2px 2px 5px 1px #000000;
  -moz-box-shadow: 2px 2px 5px 1px #000000;
  -o-box-shadow: 2px 2px 5px 1px #000000;
  -webkit-box-shadow: 2px 2px 5px 1px #000000;
  z-index: 3;
  behavior: url('/stylesheets/PIE.htc');
}

div#server-status {
  position: relative;
  background-color:#fff;
  box-shadow: 2px 2px 5px 1px #000000;
  -moz-box-shadow: 2px 2px 5px 1px #000000;
  -o-box-shadow: 2px 2px 5px 1px #000000;
  -webkit-box-shadow: 2px 2px 5px 1px #000000;
  z-index: 2;
  behavior: url('/stylesheets/PIE.htc');
}

div#server-status div.status {
  position:relative;
  left:10px;
}

div#server-status .online {
  color:#52E93A;
}

div#server-status .offline {
  color:#FF4E40;
}

div#badge {
  position: relative;
  background-color:#fff;
  box-shadow: 2px 2px 5px 1px #000000;
  -moz-box-shadow: 2px 2px 5px 1px #000000;
  -o-box-shadow: 2px 2px 5px 1px #000000;
  -webkit-box-shadow: 2px 2px 5px 1px #000000;
  padding:10px;
  z-index: 1;
  behavior: url('/stylesheets/PIE.htc');
}

div#badge img {
  float:left;
  width:48px;
}

span#badge-text {
  padding-left:10px;
  float:left;
}

/** HEADER SECTION END HERE */
/** START OF THE MIDDLE SECTION */
div#new-user {
  margin-top:10px;
  margin-bottom:0;
  box-shadow: 2px 2px 5px 1px #000000;
  -moz-box-shadow: 2px 2px 5px 1px #000000;
  -o-box-shadow: 2px 2px 5px 1px #000000;
  -webkit-box-shadow: 2px 2px 5px 1px #000000;
  behavior: url('/stylesheets/PIE.htc');
}

div#middle {
  position:relative;
  top:40px;
}

div#flash {
  margin-top:10px;
}

div#dismiss {
  float:right;
}

/** SIDE MENU */
div#side-menu {
  background-color:#fff;
  box-shadow: 2px 2px 5px 1px #000000;
  -moz-box-shadow: 2px 2px 5px 1px #000000;
  -o-box-shadow: 2px 2px 5px 1px #000000;
  -webkit-box-shadow: 2px 2px 5px 1px #000000;
  position:relative;
  top:30px;
  margin-right:0;
  z-index: 2;
  behavior: url('/stylesheets/PIE.htc');
}

div#side-menu ul {
  list-style:none;
  padding:10px;
}

div#side-menu ul li {
  padding-top:7px;
  padding-bottom:7px;
  width:160px;
  margin-top:5px;
  margin-left:5px;
  background-color:#BAC2D0;
  border:1px solid #2D4269;
}

div#side-menu ul li a {
  text-decoration:none;
  margin-left:5px;
}

div#page-content {
  position: relative;
  margin-left:0;
  margin-right:0;
  background-color:#fff;
  padding:15px;
  box-shadow: 2px 2px 5px 1px #000000;
  -moz-box-shadow: 2px 2px 5px 1px #000000;
  -o-box-shadow: 2px 2px 5px 1px #000000;
  -webkit-box-shadow: 2px 2px 5px 1px #000000;
  z-index: 3;
  behavior: url('/stylesheets/PIE.htc');
}

div#page-content .box {
  background-color:#B7CBCA;
}

div#right-links {
  background-color:#fff;
  position:relative;
  padding:10px;
  top:30px;
  box-shadow: 2px 2px 5px 1px #000000;
  -moz-box-shadow: 2px 2px 5px 1px #000000;
  -o-box-shadow: 2px 2px 5px 1px #000000;
  -webkit-box-shadow: 2px 2px 5px 1px #000000;
  z-index: 1;
  behavior: url('/stylesheets/PIE.htc');
}

div#right-links img, div#right-links p, div#right-links a, div#right-links br {
  margin:0;
}

/** FOOTER */
div#footer-content {
  background-color:#C0C6D0;
  position:relative;
  padding:10px;
  box-shadow: 2px 2px 5px 1px #000000;
  -moz-box-shadow: 2px 2px 5px 1px #000000;
  -o-box-shadow: 2px 2px 5px 1px #000000;
  -webkit-box-shadow: 2px 2px 5px 1px #000000;
  top:80px;
  behavior: url('/stylesheets/PIE.htc');
}

div#footer-content span.right {
  text-align:right;
}

/** SPECIAL (these don't show up on all pages) */
span.account-name {
  color:#0D132A;
}
