body {
  background-image:url('../../images/l2adena-site-bkg.png');
  background-repeat:no-repeat;
  background-size:100%;
}

/** HEADERS **/
div#logo {
  position: relative;
  background-color:#fff;
  margin:0;
  box-shadow: 2px 2px 5px 1px #000000;
  z-index: 3;
}

div#server-status {
  position: relative;
  background-color:#fff;
  box-shadow: 2px 2px 5px 1px #000000;
  z-index: 2;
}

div#server-status div.status {
  position:relative;
  left:10px;
}

div#badge {
  position: relative;
  background-color:#fff;
  box-shadow: 2px 2px 5px 1px #000000;
  padding:10px;
  z-index: 1;
}

div#badge img {
  float:left;
  width:48px;
}

span#badge-text {
  padding-left:10px;
  float:left;
}

/** HEADER SECTION END HERE */
/** START OF THE MIDDLE SECTION */
div#new-user {
  margin-top:10px;
  margin-bottom:0;
  box-shadow: 2px 2px 5px 1px #000000;
}

div#middle {
  position:relative;
  top:40px;
}

div#flash {
  margin-top:10px;
}

div#dismiss {
  float:right;
}

/** SIDE MENU */
div#side-menu {
  background-color:#fff;
  box-shadow: 2px 2px 5px 1px #000000;
  position:relative;
  top:30px;
  margin-right:0;
}

div#side-menu ul {
  list-style:none;
  padding:10px;
}

div#side-menu ul li {
  padding-top:7px;
  padding-bottom:7px;
  width:160px;
  margin-top:5px;
  margin-left:5px;
  background-color:#FFECF6;
  box-shadow: 2px 2px 5px 1px #000000;
}

div#side-menu ul li a {
  text-decoration:none;
  margin-left:5px;
}

div#page-content {
  margin-left:0;
  margin-right:0;
  background-color:#fff;
  padding:15px;
  box-shadow: 2px 2px 5px 1px #000000;
}

div#page-content ul {
  list-style:none;
}

div#right-links {
  background-color:#fff;
  position:relative;
  padding:10px;
  top:30px;
  box-shadow: 2px 2px 5px 1px #000000;
}

/** FOOTER */
div#footer {
  background-color:#FFECF6;
  position:relative;
  padding:10px;
  box-shadow: 2px 2px 5px 1px #000000;
  top:80px;
}
