# FILL IN THESE VALUES WITH YOUR API KEY/SECRET
Rails.application.config.middleware.use OmniAuth::Builder do
  provider :facebook, 'APP_ID', 'APP_SECRET'
  provider :open_id, OpenID::Store::Filesystem.new('/tmp'), {:name => "google", :domain => "https://www.google.com/accounts/o8/id" }
  provider :open_id, OpenID::Store::Filesystem.new('/tmp')
end
