<% status_list.each do |status| %>
  <div class="status left">
    <% if status.status == 1 %>
      <%= status.name %>: <span class="online">Online</span>
    <% else %>
      <%= status.name %>: <span class="offline">Offline</span>
    <% end %>
  </div>
<% end %>
