<h1>Manage Users</h1>

<div id="user-list">
<table>
  <tr>
    <th>Gravitar</th>
    <th>Username</th>
    <th>Actions</th>
  </tr>

  <% @users.each do |user| %>
    <tr>
      <td><%= image_tag(Gravatar.new(user.email).image_url) %></td>
      <td><%= user.username %></td>
      <td><%= link_to("Show", {:action => 'show', :id => user.id }) %></td>
    </tr>
  <% end %>
</table>
</div>
<%= will_paginate @users %>

<style type="text/css">
  div#user-list img {
    width:32px;
  }
</style>
