<h1>Show User Info <%= @user.username %></h1>

<table>
  <tr>
    <th>Username</th>
    <td><%= @user.username %></td>
  </tr>
  <tr>
    <th>Email</th>
    <td><%= @user.email %></td>
  </tr>
  <tr>
    <th>Account Creation Date</th>
    <td><%= @user.created_at %></td>
  </tr>
</table>
