<ul id="submenu">
  <li><%= link_to("Game Menu Home", :action => 'index' ) %></li>
  <li><%= link_to("Create Account", :action => 'new' ) %></li>
</ul>
<div class="clear"></div>
<style type="text/css">
  ul#submenu li {
    float:left;
    padding:5px;
    margin:5px;
    background-color:#D3E2E2;
  }

  ul#submenu a {
    text-decoration:none;
  }
</style>
